[role="button"],
input[type="submit"],
/*input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}*/

/* Reset `button` and button-style `input` default styles */
/*input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;*/
    /*color: inherit;*/
    /* cursor: default; */
    /*font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; 
    -webkit-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}*/

/* Make `a` like a button */
/*[role="button"] {
    color: inherit;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}*/

/* Demo */
/*[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],*/

button {
    height: 2.5em;
    line-height: 2.5;
    margin: 0.25em;
    width: 14em;
    padding: 0 0.5em;
}

.card-container {
  margin:auto;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:80%;
  width:80%;
  margin:10px auto;
  padding-bottom: 150px;
}

sc-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*max-height: 500px;*/
  max-width: 300px;
}

.card-content {
  height: 100%;
}

.card-content img {
  max-width:100%;
  max-height:100%;
}

.buttons {
  width:100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;;
}

.buttons button {
  max-width:130px;
  width:50%;
}

/*.fooder-card-container .mdl-card__media {
  overflow: hidden;
  background: transparent;
}

.fooder-card-container .mdl-card__media img {
  width: 100%;
}

.fooder-card-container .mdl-card__title {
  background: transparent;
  height: auto;
}

.fooder-card-container .mdl-card__title-text {
  color: black;
  height: auto;
}

.fooder-card-container .mdl-card__supporting-text {
  height: auto;
  color: black;
  padding-bottom: 56px;
}

.fooder-card-container .mdl-card__actions {
  position: absolute;
  bottom: 0;
}
.fooder-card-container .mdl-card__actions a {
  border-top: none;
  font-size: 16px;
}*/
