body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.fooder-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.fooder-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}

/*.mdl-textfield--expandable {
  width: auto;
}*/

.fooder-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #64ffda !important;
  color: black !important;
}

.fooder-mobile-title {
  display: none !important;
}

.android-logo-image {
  height: 28px;
  width: 140px;
}

.fooder-header {
  overflow: visible;
  /*background-color: white;*/
}

.fooder-header .material-icons {
  color: #FFFFFF !important;
}

.fooder-header .mdl-layout__drawer-button {
  background: transparent;
  color: #767777;
}

.fooder-header .mdl-navigation__link {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
}

.fooder-navigation-container {
  /* Simple hack to make the overflow happen to the left instead... */
  direction: rtl;
  order: 1;
  width: 500px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.fooder-navigation {
  /* ... and now make sure the content is actually LTR */
  direction: ltr;
  justify-content: flex-end;
  width: 800px;
}

.fooder-search-box.is-focused + .fooder-navigation-container {
  opacity: 0;
  width: 100px;
}

.fooder-navigation .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}

.fooder-navigation .mdl-navigation__link:hover {
  border-bottom: 4px solid #8bc34a;
}

.fooder-search-box {
  order: 2;
  margin-left: 16px;
  margin-right: 16px;
}

.fooder-more-button {
  order: 3;
}

.fooder-drawer {
  border-right: none;
}

.fooder-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.fooder-drawer .mdl-navigation__link.mdl-navigation__link {
  font-size: 14px;
  color: #757575;
}

.fooder-drawer span.mdl-navigation__link.mdl-navigation__link {
  color: #8bc34a;
}

.fooder-drawer .mdl-layout-title {
  position: relative;
  background: rgb(0,150,136);
  height: 64px;
  color: white;
}

.fooder-drawer .android-logo-image {
  position: absolute;
  bottom: 16px;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.fooder-more-section {
  padding: 80px 0;
  max-width: auto;
  max-height: auto;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.fooder-more-section .fooder-section-title {
  /*margin-left: 12px;*/
  padding-bottom: 24px;
}

.fooder-card-container {
  /*height: 450px;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:80%;
  width:80%;
  margin:10px auto;*/
}

.fooder-footer {
  background-color: #fafafa;
  position: relative;
}

.fooder-footer a:hover {
  color: #8bc34a;
}

.fooder-footer .mdl-mega-footer--top-section::after {
  border-bottom: none;
}

.fooder-footer .mdl-mega-footer--middle-section::after {
  border-bottom: none;
}

.fooder-footer .mdl-mega-footer--bottom-section {
  position: relative;
}

.fooder-footer .mdl-mega-footer--bottom-section a {
  margin-right: 2em;
}

.fooder-footer .mdl-mega-footer--right-section a .material-icons {
  position: relative;
  top: 6px;
}

.fooder-link-menu:hover {
  cursor: pointer;
}


/**** Mobile layout ****/
@media (max-width: 900px) {
  .fooder-navigation-container {
    display: none;
  }

  .fooder-title {
    display: none !important;
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .fooder.fooder-search-box.is-focused ~ .fooder-mobile-title,
  .fooder-search-box.is-focused + .fooder-navigation-container + .fooder-mobile-title {
    opacity: 0;
  }

  .fooder-more-button {
    display: none;
  }

  .fooder-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .fooder-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .fooder-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}
